*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: blue;
    height: 200px;
}
.card img{
    width: 150px;
}
.fa-facebook, .fa-instagram-square{
    font-size: 24px;
    margin: 5px;
}
